{% extends 'base.html.twig' %}

{% block title %}{% endblock %}



{% block body %}

<main class="container">
    <div class="card" style="margin-bottom: 30px;">
        <div class="card-header">
            <h4>{{ ticket.title }}
                <div class="float-xl-right">
                    <span class="badge badge-{% if ticket.priority == "HAUTE" %}danger{% elseif ticket.priority == "NORMALE"%}warning{% else %}info{% endif %}">
                        {{ ticket.priority }}
                    </span>                   
                </div>
            </h4>
        </div>
        <div class="card-body" style="min-height: 130px;">
            <strong class="card-title">Posté par {{ ticket.auteur.firstname }} {{ ticket.auteur.lastname }} 
            le {{ ticket.createddate|date('d/m/Y') }} à {{ ticket.createddate|date('H:i') }}</strong>
            <p class="card-text">{{ ticket.description }}</p>
        </div>
        <div class="card-footer text-muted">
            <div class="row">
                <div class="col-12">
                    <a href="{{url ('ticket_message', {id:ticket.id}) }}" class="btn btn-primary float-xl-right">Suivre</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12"> Service(s) :                   
                    {% for service in ticket.service %}
                        {{ service.name }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% for message in ticket.messages %}
    <div class="card" style="margin-bottom: 30px;">
        <div class="card-body" style="min-height: 130px;">
            <strong class="card-title">Posté par {{ message.auteur.firstname }} {{ message.auteur.lastname }} 
            le {{ message.createdAt|date('d/m/Y') }} à {{ message.createdAt|date('H:i') }}</strong>
            <p class="card-text">{{ message.content }}</p>
        </div>
    </div> 
    {% endfor %}


    {{ form_start(form) }}

    {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary">Submit</button>
    {{ form_end(form) }}
</main>
   
{% endblock %}